.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav{
  list-style-type: none;
}
.nav li{
  display: inline-block;
  margin: 0 50px;
  border: 1px solid #222222;
  padding: 10px;
  cursor: pointer;
}

.nav li:hover{
  background-color: cornflowerblue;
}


.nav1{
  list-style-type: none;
}
.nav1 li{
  margin: 0 50px;
  border: 1px solid #222222;
  padding: 10px;
  cursor: pointer;
}
.listItem{
  border: 1px solid #222222;
}
